<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- AÑADIR PERMISO FIREBASE -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoGrupo4_DAMI">
        <activity
            android:name=".ui.RutaEntregaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.InicioSesionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.RegistroRepartidorActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyASfomy-klL9sK9JPT7lmYOoXNbmpznO3s" />

        <activity
            android:name=".ui.SeleccionarUbicacionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CarritoActivity"
            android:exported="false" />
        <activity
            android:name=".Fragment.Inicio_MenuActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CategoriasActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ContactoRepartidorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.EstadoPedidoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AccesoActivity"
            android:exported="true" />
        <activity
            android:name=".ui.FormularioEntregaActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".ui.CheckoutActivity" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.ProyectoGrupo4_DAMI.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 🚴‍♂️ Activities de repartidor -->

        <activity
            android:name=".ui.AccesoRepartidorActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.RepartidorMenuActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>